<!DOCTYPE html>
<html lang="en-US">
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />

    <title>Thomas Rutledge</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />

    {# Cachebust the CSS/JS #}
    {% set assetVersion = craft.app.config.env == "dev" ? date().getTimestamp() : 0.01 %}
    {# Until we're live, cachebust all assets #}
    {#{% set assetVersion = date().getTimestamp() %}#}

    {% do view.registerCssFile("/assets/css/main.css?v="~assetVersion) %}

</head>

    <body class="">
        <header class="flex">
        </header>

        <main class="w-full">
            {% block content %}
            {% endblock %}
        </main>

        <footer class="px-6 py-12">
            <p class="font-display text-xs">
                &copy; {{ siteName }} {{ now|date('Y') }}
            </p>
        </footer>

    </body>
</html>
